<%- include('header'); -%>
<div class="content">
  <h1 id="welcome">Contacts</h1>
  <h2>Customer Service Agent</h2>
  <p>Tariq Kamal</p>
  <p>tq@arabiansands.com</p>
  <p>050-162-4897</p>
  <p>ME9,Musaffah,Abu Dhabi, UAE</p>
  <p>‎ ‎</p>
</div>
<%- include('footer'); -%>